.bg1 {
  background-color: #e6e6ff;
  opacity: 0.3;
  background-image: radial-gradient(circle at 30% 30%, #073011, #e6e6ff), repeating-radial-gradient(circle at 30% 30%, #073011, #073011, 6px, transparent 22px, transparent 16px);
  background-blend-mode: multiply;
}

.bg2 {
  background-color: #e6e6ff;
  opacity: 0.3;
  background-image: radial-gradient(circle at 65% 65%, #250601, #e6e6ff), repeating-radial-gradient(circle at 65% 65%, #250601, #250601, 6px, transparent 22px, transparent 16px);
  background-blend-mode: multiply;
}

.background {
  background-color: #f9f9fd;
  opacity: 1;
  background-image:  linear-gradient(#ccdfe0 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(90deg, #a3ebf0 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(#87dee5 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(90deg, #87dee5 0.7000000000000001px, #f9f9fd 0.7000000000000001px);
  background-size: 35px 35px, 35px 35px, 7px 7px, 7px 7px;
  background-position: -1.4000000000000001px -1.4000000000000001px, -1.4000000000000001px -1.4000000000000001px, -0.7000000000000001px -0.7000000000000001px, -0.7000000000000001px -0.7000000000000001px;
}

.backgroundDark {
  background-color: #1a202c;
  opacity: 1;
  background-image:  linear-gradient(#033d38 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(90deg, #033d38 1.4000000000000001px, transparent 1.4000000000000001px), linear-gradient(#033d38 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(90deg, #033d38 0.7000000000000001px, #1a202c 0.7000000000000001px);
  background-size: 35px 35px, 35px 35px, 7px 7px, 7px 7px;
  background-position: -1.4000000000000001px -1.4000000000000001px, -1.4000000000000001px -1.4000000000000001px, -0.7000000000000001px -0.7000000000000001px, -0.7000000000000001px -0.7000000000000001px;
}
